* {
    margin:0; 
    padding:0
}
content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 header{
     background-color: #5CA1F1;
     width: 100%;

 }
 header p {
     color: white;
     width: 395px;
     left: 828px;
     height: 42px;
     top: 9px;
     font-size: 20px;
}