.slide-container{
    margin: auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: white;
}
.slide{
    width: 2400px;
    height: 400px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
} 
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    background-color: white;
}