*{
    Margin: 0;
    padding: 0;
}
.thin{
    width :80%;
    text-align: center;
}

content {
    background-color: #979797;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    height: 1000px;
}

h1,h2{
    text-align: center;
}
h2{
    font-size: 15px;
    text-align: center;
}
p {
    font-size: 12px;
    text-align: center;
}
nav {

    background-color: #D13434;
    padding: 0% 1% 1% 1%;
    }

nav ul {
    margin: 0 auto;
    width: 30%;
    }

nav ul li {
    display: inline;
    margin-right: 15%;
}
article {
    width: 30%;
    float: left;
}
@media (max-width: 700px) {
    h1 {
        color: green}
    article {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 0%;
        margin-left: 0%
    }

    .thin{
        width :80%;
        text-align: left;
    }

    nav ul li {
    display: block;
    margin-right: 0%;
}


